# Salesforce Connection
SF_CONSUMER_KEY=your_connected_app_client_id
SF_USERNAME=your_integration_user@example.com
SF_LOGIN_URL=https://login.salesforce.com
SF_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"

# Logic Settings
SF_API_VERSION=62.0
SF_PHOTO_FLOW=Analyze_311_Photo_Flow
PORT=5000
